{% extends "base.html" %}

{% block content %}

<h1>Where can I find available vaccines?</h1>
<br>
<h5>This is a list of all of the sites we are aware of in New Jersey which may, at some point, receive the COVID-19 vaccine. <b>Most of them do not have the vaccine available</b>; we are calling as many as we can daily.</h5>
<h5>If we missed a site, <a href="/contact">let us know</a>! We are working on expanding the list with additional pharmacies and other locations.</h5>
<br>
<iframe src="{{availability_spreadsheet_iframe_url}}" onload="this.width=screen.width;this.height=screen.height;"></iframe>
<br>
<h5>Or see it <a href="{{availability_spreadsheet_url}}">here</a>.</h5>
<br>
<h5>Do you see missing or outdated information? Please leave a comment <a href="{{availability_spreadsheet_url}}">here</a>! We need all the information we can get.</h5>

{% endblock %}
