{% extends "base.html" %}

{% block content %}

<h1>Where can I find available vaccines?</h1>
<br>
<h5>
  Here is the <a href="https://docs.google.com/spreadsheets/d/1yXz70DQqF_I6hvVfXPADw6QNZ6R63bx1v27qBfdxBuc/edit#gid=0">vaccine availability spreadsheet</a>. Our volunteers are hard at work keeping this up-to-date.
</h5>

<h5>We'll be making it easier to use this as soon as possible.</h5>

<h5>If you know about places with vaccine not listed here, please add it to the spreadsheet! We need all the information we can get. Open the link to add your information.</h5>

{% endblock %}
