<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  {% if title %}
  <title>{{ title }}</title>
  {% else %}
  <title>Home</title>
  {% endif %}
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Vaccinate NJ</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/questionnaire/0">Am I eligible for the vaccine?</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/preregister">What is pre-registration?</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://covid19.nj.gov/faqs">Official frequently asked questions (FAQ)</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://covid19.nj.gov/faqs/nj-information/slowing-the-spread/who-is-eligible-for-vaccination-in-new-jersey-who-is-included-in-the-vaccination-phases">Official phase information</a>
        </li>
      </ul>
    </div>
  </nav>
  <br>
  <br>
  {% block content %}{% endblock %}

  <br>
  <br>
  <br>
  <br>
  <div>
    <h3>All New Jerseyans can pre-register for the vaccine, no matter what phase they are. <a href="/preregister">Click here</a> to find out more!</h3>
  </div>
  <h3>Current vaccine rollout phase: 1A (Last updated January 17, 2021)</h3>
</body>
</html>