{% extends "base.html" %}

{% block content %}

<h1>Need to contact us?</h1>

<h3>Whether you're a volunteer looking to help build this website, working at a medical provider and have a request for us, from the media looking to help spread the word, or just looking for the answer to a question you've got, you can email us at <a href="mailto:contact@covid19vaccinestatusnj.com">contact@covid19vaccinestatusnj.com</a> and we'll be in touch shortly.</h3>

<p>If there's a problem with the <a href="/questionnaire/0">questionnaire</a>, you can also get in touch via the form below:</p>

<iframe src="{{contact_form_url}}" width="640" height="699" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>

{% endblock %}
