{% extends "base.html" %}

{% block content %}

<h1>Frequently asked question</h1>

<h3>How can I help with this effort?</h3>
<ul>
  <li>Continue keeping yourself and your loved ones safe.</li>
  <li>Get the word out about this website. Anyone in NJ can find up-to-date information about where and when they can get the vaccine.</li>
  <li>Encourage people to use this website instead of calling vaccination sites. We want to reduce the amount of work medical workers need to do.</li>
  <li>Feel free to sign up <a href="https://docs.google.com/forms/d/e/1FAIpQLSc94Nk9IVLl0z6AXxAHN61392xcmx7ZS8JYFAeKfxW8GY5Vfw/viewform">here</a> and we'll get back to you as soon as we can!</li>
</ul>

<h3>Is the information on this website accurate?</h3>
<p>We publish information that we receive as soon as we can. Things might change but we'll do our best to stay on top of them as they do. If something is incorrect on this website, please <a href="/contact">get in touch</a> as soon as you can and we'll fix it!
</p>

<h3>Who is involved with this effort?</h3>
<p>We are a community of volunteers and do not represent the government or any healthcare provider.</p>
{% endblock %}
