{% extends "base.html" %}

{% block content %}

<h1>How to help</h1>

<p>We are a group of volunteers who want to get New Jerseyans accurate information on the vaccine as fast as we can. <b>Right now, we need more volunteers to get accurate information on vaccine availability in New Jersey. If you'd like to help out, please
    <a href="/contact">contact us</a> as soon as you can!
  </b>
</p>

<h2>Frequently asked questions (FAQ)</h2>

<h3>How can I help with this effort?</h3>
<ul>
  <li>Continue keeping yourself and your loved ones safe.</li>
  <li>Get the word out about the vaccine and its availability.</li>
  <li>Get the word out about this website and that anyone in NJ can find their eligibility information quickly here.</li>
  <li>Email us at <a href="mailto:contact@covid19vaccinestatusnj.com">contact@covid19vaccinestatusnj.com</a> if you're thinking about volunteering to help us find out about vaccine availability. <b>If you're unsure, just send us an email anyways and we'll figure it out!</b></li>
  <ul>
    <li>If you have web development skills, we'd like to hear from you! We need to continue building this website. (Backend: Flask, frontend: basic HTML/CSS/Javascript, no frameworks involved)</li>
    <li>We also need volunteers to make phone calls to vaccination sites to check their availability so that we can publish this information.</li>
  </ul>
</ul>

<h3>Is the information on this website accurate?</h3>
<p>We publish information that we receive as soon as we can. Things might change but we'll do our best to stay on top of them as they do. If something is incorrect on this website, please <a href="/contact">get in touch</a> as soon as you can and we'll fix it!
</p>

{% endblock %}
