{% extends "base.html" %}

{% block content %}

<h1>Do you live in New Jersey? Do you know if you're eligible for the COVID-19 vaccine?</h1>

<div>
  <p>
    Are you an adult who lives, works, or learns in New Jersey? If you are, the New Jersey government plans to offer you the COVID-19 vaccine <b><a href="https://covid19.nj.gov/faqs/nj-information/assistance-and-benefits/is-the-covid-19-vaccine-free-what-if-i-dont-have-insurance">for free</a>, whether or not you have insurance.</b>

  </p>
  <p>
    The <a href="https://covid19.nj.gov/faqs/nj-information/slowing-the-spread/who-is-eligible-for-vaccination-in-new-jersey-who-is-included-in-the-vaccination-phases">current plan </a> is to offer the vaccine in phases so that high-priority groups can receive the vaccine sooner.
  </p>
  <p>
    Before now, there were only two ways to learn your vaccination phase. You had to either read a
    <a href="https://covid19.nj.gov/faqs/nj-information/slowing-the-spread/who-is-eligible-for-vaccination-in-new-jersey-who-is-included-in-the-vaccination-phases">long website </a>
    with lots of words or fill out a
    <a href="https://covidvaccine.nj.gov/">long form</a>
    with a lot of boxes.
  </p>
  <p>
    But what if you don't want to deal with long, complicated websites or sign up for anything right now? That's where this website comes in handy. Now you can instantly find out when you can get the vaccine. Just click the button below to answer a few questions and learn your phase.
  </p>
</div>

<form action="/questionnaire/0">
  <input type="submit" value="Learn if I'm eligible"/>
</form>

{% endblock %}