{% extends "base.html" %}

{% block content %}

<h1>New Jersey Vaccine Information</h1>
<br>

<div class="row">
  <div class="col-sm-6">
    <div>
      <p>
        If you're an adult who lives, works, or studies in New Jersey, you will be eligible for the COVID-19 vaccine. Here on this website, it'll take you less than a minute to find out <b>when </b> you can get it!
      </p>
      <p>
        The <a href="https://covid19.nj.gov/faqs/nj-information/slowing-the-spread/
        who-is-eligible-for-vaccination-in-new-jersey-who-is-included-in-the-vaccina
        tion-phases">plan </a> is to give the vaccine in <b>phases</b> so
        high-priority groups can get the vaccine sooner. But it can be hard to find your phase because official government announcements can be long and complicated.
      </p>
      <h3>
        <b>We read the fine print so that you don't have to.</b>
      </h3>
      <p>
        All you need to do is click the button below!
      </p>
      <p>
        Remember: the vaccine is <a href="https://covid19.nj.gov/faqs/nj-information/assistance-and-benefits/is-the-covid-19-vaccine-free-what-if-i-dont-have-insurance">
        <b>free</b></a><b>, whether or not you have insurance!</b>
      </p>
      <form action="/questionnaire/0">
        <input type="submit" value="Learn when I'm eligible" id="eligible"/>
      </form>

    </div>
  </div>
  <div class="col-sm-6">
    <img src="/static/home.png" id="splash">
  </div>
</div>

<br>

<br>
<br>
<div>
  <h3>All New Jerseyans can pre-register for the vaccine, no matter what phase they are. <a href="/preregister">Click here</a> to find out more!</h3>
  <h3>Current vaccine rollout phases: 1A and certain parts of 1B (Last updated January 18, 2021)</h3>
</div>
{% endblock %}
