{% extends "base.html" %}

{% block content %}

<h1>How pre-registration works</h1>

<p>
  All New Jerseyans can pre-register for a vaccine
  <b>right now, even if you're not eligible for a vaccine right now</b>.
  You can pre-register for one on the
  <a href="https://covidvaccine.nj.gov/">official NJ Vaccine Scheduling System</a>.
</p>
<p>
  The pre-registration form will have questions like the ones on
  <a href="/questionnaire/0">our questionnaire</a>.
  When you finish pre-registering, you will get an email with your phase.
</p>
<p>
  If you just want a quick answer and don't want to sign up for anything right now, you can take <a href="/questionnaire/0">our questionnaire</a> which will take you less time.
</p>
{% endblock %}