{% extends "base.html" %}

{% block content %}

<h3>{{ current_question_text }}</h3>
<form action="/questionnaire/{{current_question_id}}" method="post">
  <input type="submit" name="user_answer" value="Yes" /> <div> {{yes_response_text}}</div>
  <br>
  <input type="submit" name="user_answer" value="No" />
  <br>
  <br>
  <input type="submit" name="user_answer" value="Unsure" />
</form>
<p>{{ more_information}}</p>
<div>
  <h5>Previous responses:</h5>
  <ul>
    {% for response in previous_responses %}
    <li><b>Question:</b> {{ response[0] }} <br> <b>Answer: {{ response[1] }}</b></li>
    {% endfor %}
  </ul>
</div>
<br>

<form action="/restart" method="post">
  <input type="submit" name="Start over" value="Start over" />
</form>

{% endblock %}