{% extends "base.html" %}

{% block content %}

<h1>Vaccine phase questionnaire</h1>

<h3>{{ current_question_text }}</h3>
<form action="/questionnaire/{{current_question_id}}" method="post">
  <div> {{yes_response_text}}</div>
  <br>
  <input type="submit" name="user_answer" value="Yes" class="response"/>
  <input type="submit" name="user_answer" value="No" class="response"/>
  <input type="submit" name="user_answer" value="Unsure" class="response"/>
  <br>
  <br>
</form>
<p>{{more_information}}</p>
<div>
  {% if previous_responses %}
    <h5>Previous responses:</h5>
    <ul>
      {% for response in previous_responses %}
      <li><b>Question:</b> {{ response[0] }} <br> <b>Answer: {{ response[1] }}</b></li>
      {% endfor %}
    </ul>
  {% endif %}
</div>
<br>

<form action="/restart" method="post">
  <input type="submit" name="Start over" value="Start over" id="restart" />
</form>

{% endblock %}
